@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap%27');


.login {
    -fx-font-size: 20px;
    -fx-font-family: 'Roboto Slab', serif;
    -fx-text-align: center;
    -fx-color: black;
}

.errorText {
    -fx-font-size: 14px;
    -fx-font-family: 'Roboto Slab', serif;
    -fx-text-align: center;
    -fx-color: black;
}

.homePage {
    -fx-font-family: 'Roboto Slab', serif;
    -fx-font-size: 16px;

}