.login {
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-text-align: center;
    -fx-color: black;
}

.homePage {
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap%27);
    -fx-font-family: font-family: 'Roboto Slab', serif;
}